<div class="row">
<div class="col-md-12">
<h2>Log In</h2>
<br />
<form method="post" action="/login">
    <fieldset>
        <div class="row">
            <div class="col-md-12">
                {{#if errorMessage}} <div class="alert alert-danger"> <strong>Error:</strong> {{errorMessage}}</div> {{/if}}
                <div class="form-group">
                    <input class="form-control" name="userName" type="text" placeholder="User Name" 
                    {{#if userName}}value={{userName}}{{/if}} required />
                    <br/>
                    <input class="form-control" name="password" type="password" placeholder="Password"
                    required/>
                </div>
            </div>
        </div>
    </fieldset>
    <hr />
    <input type="submit" class="btn btn-primary pull-right" value="Login" /><br /><br /><br />
</form>
</div>
</div>